<div id="menu" class="col-xs-2">
    <ul>
        <li><a href="index.php?page=mainPage">Hlavní stránka</a></li>
        <li><a href="index.php?page=allPosts">Seznam příspěvků</a></li>
        <li><a href="index.php?page=reviewPosts">Seznam příspěvků k hodnocení</a></li>
        <li><a href="index.php?page=userSettings">Nastavení profilu</a></li>
    </ul>
</div>